
$primary: #4682B4;
$primary-invert: white;

// Navbar
// $navbar-background-color: $primary;
// $navbar-dropdown-background-color: $primary;
// $navbar-item-color: white;

// $navbar-item-active-color: white;
// $navbar-item-active-background-color: #3f75a2;

// $navbar-item-hover-color: white;
// $navbar-item-hover-background-color: #3f75a2;

// // Body and Footer
// $body-background-color: #ecf2f7;

// $footer-background-color: #dae6f0;

// $text: black;
// $text-strong: black;

@import "../node_modules/bulma/bulma.sass"
